.disableLinkDecoration {
    text-decoration: none;
}

/* Justify text */
.textJustify {
    text-align: justify;
}

/* Stying size of the button in Landing Page (Take Quiz) */
.buttonBlockSize {
    width: 300px;
    height: 100px;
    font-size: xx-large;
    font-weight: bold;
}

/* Stying size of the button in SignIn and SignUpForm pages*/
.buttonBlockSize2 {
    width: 200px;
    height: 80px;
    font-size: xx-large;
    font-weight: bold;
}

/* Increase the size of the header tag (using on "Welcome Back!" in SignIn)*/
.headerSize {
    font-size: 380%;
}

/* Center input boxes in SignIn and SignUpForm page*/
.centerBlockParent {
    display: grid;
    place-items: center;
}

.ourBackground {
    background-color: #e4f8ed;
    border: none;

}

.ourButton {
    background-color: #ff6300;
    border: none;
}

.ourBorder {
    border-color: gray;
}