.disableLinkDecoration {
    text-decoration: none;
}

.textJustify {
    text-align: justify;
}

.buttonBlockSize {
    width: 300px;
    height: 100px;
    font-size: xx-large;
    font-weight: bold;
}